.Button {
  border-radius: 3px;
  font-size: 12px;
  margin: 6px 2px;
  padding: 6px;
  text-align: center;
}

.Filter {
  background-color: #faaeb7;
}

.Clear {
  background-color: #cccccc;
}

.Filter:hover,
.Clear:hover {
  cursor: pointer;
  color: #FFF;
}
