.Tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Tags::after {
  content: "";
  flex: auto;
}

.Tag {
  background-color: #CCC;
  border-radius: 3px;
  font-size: 9px;
  margin: 4px 2px;
  padding: 5px;
}

.Tag:hover,
.Tag.Selected {
  background-color: #999;
  cursor: pointer;
  color: #FFF;
}

.Tag.Selected:hover {
  background-color: #AAA;
}
