html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #FFFFFF;
}

.Section {
  display: block;
  padding: 50px;
  color: #999999;
}

.Sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
  padding: 10px;
  width: 25%;
}

.Sidebar::after {
  content: "";
  flex: auto;
}

.App-header {
  padding: 20px 50px;
  color: #999999;
  border-bottom: 1px solid #CCCCCC;
}

.App-logo {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  padding-right: 10px;
}

.App-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

